<%= form_with(model: @task) do |f| %>
    <%= render "shared/errors", object: @task %>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10 %>
    <%= f.label :priority %>
    <%= f.select(:priority, Task::PRIORITY, prompt: "Choose one")  %>
    <%= f.label :due_date %>
    <%= f.date_field :due_date, {class: "date"} %>
    <p><%= f.label :groups %></p>
    <div class="checkboxes">
    <%= f.collection_check_boxes(:group_ids, Group.order(:name), :id, :name) %>
    </div>
    <div style="padding-top: 10px;"><%= f.label :completed %></div>
    <%= f.check_box :completed %>
    <%= f.submit %>
<% end %>
