<section class="movie-details">
  <div class="details">
    <h1><%= @task.title %></h1>
      <% if @task.average_stars_as_percent == 0.0 %>
        <strong>No Ratings Yet</strong>
      <% else%>
          <%= render "shared/stars", percent: @task.average_stars_as_percent %> <span>based upon</span>
      <% end %>
    <div class="reviews">
        <%= link_to pluralize(@task.task_ratings.size, "Review"), task_task_ratings_path(@task) %>
    </div>
    <p>
      <%= @task.description %>
    </p>
    <table>
      <tr>
        <th>completed:</th>
        <td><%= @task.completed %></td>
      </tr>
    </table>
    <%= link_to "Leave a Rating", new_task_task_rating_path(@task), class: "review" %>
    <% if current_user_admin? %>
      <section class="user">
        <div class="actions">
          <%= link_to "Edit", edit_task_path(@task), class: "button edit" %>
          <%= link_to "Delete", task_path(@task), class: "button delete",
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </section>
    <% end %>
  </div>
</section>
<section class="admin">
  <%= link_to "Back", root_path, class: "button"%>
</section>
