<%= form_with(model:[@task, @rating]) do |f| %>
<%= render "shared/errors", object: @rating %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :stars %>
  <% TaskRating::STARS.each do |star|%>
    <span class="star">
        <%= f.radio_button :stars, star %>
        <%= label_tag star %>
    </span>
  <% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: "What did you think?" %>

  <%= f.submit %>
<% end %>
