<section class="user">
  <%= profile_image(@user) %>
    <h1><%= @user.name %></h1>
    <h2><%= @user.username %></h2>
    <h2><%= mail_to(@user.email) %></h2>
    <h3>Member Since</h3>
    <p>
      <%= @user.created_at.strftime("%B %Y") %>
    </p>
    <% current_user?(@user) %>
      <div class ="actions">
        <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
        <% if current_user_admin? %>
          <%= link_to "Delete", user_path(@user), class: "button delete",
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      <div>
          <% if @ratings.present? %>
    <h3>Reviews</h3>
    <% @ratings.each do |rating| %>
      <div class="review">
        <div class="details">
          <span class="title">
            <%= link_to rating.task.title, rating.task %>
          </span>
          <%= pluralize(rating.stars, 'star') %>
          <span class="date">
            <%= time_ago_in_words(rating.created_at) %> ago
          </span>
          <p>
            <%= rating.comment %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @favorite_tasks.present? %>
  <h3>Favorite Tasks</h3>
  <div class="favorite-movies">
    <% @favorite_tasks.each do |task| %>
    <ul>
      <li>
        <%= link_to (task.title), task %>
      </li>
      </ul>
    <% end %>
  </div>
<% end %>
</section>
<section class="movie-details">
    <div class="details">
        <%= link_to "Go Back", users_path, class: "review" %>
    </div>
</section>
